.search-container{
    margin-bottom: 16px;
}

.search-input{
    padding: 8px;
    width: 80%;
    font-size: 16px;
    border: 1px solid blue;
    border-radius: 4px;
}

.Search-button{
    padding: 10px 15px;
    font-size: 16px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Search-button:hover{
    background-color: green;
}